---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>
            <div class="label-card">
                <p>阅读：<span id="busuanzi_value_page_pv"></span></p>
            </div>
            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        {% assign hasSimilar = '' %}
        {% for post in site.related_posts %}
            {% assign postHasSimilar = false %}
            {% for tag in post.tags %}
                {% for thisTag in page.tags %}
                    {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                        {% if hasSimilar.size == 0 %}
                        <h2 id="similar_posts">Similar Posts</h2>
                        <ul>
                        {% endif %}
                        <li class="relatedPost">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                            {% if post.series %}
                                (Series: {{ post.series }})
                            {% endif %}
                            </a>
                        </li>
                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                        {% assign postHasSimilar = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% if hasSimilar.size > 0 %}
            </ul>
        {% endif %}

        {% include previousAndNext.html %}
        <!--Gitalk评论start  -->
        {% if site.gitalk.enable %}
        <!-- 引入Gitalk评论插件  -->
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
        <div id="gitalk-container"></div>
        <script type="text/javascript">
            var gitalk = new Gitalk({
            clientID: '{{site.gitalk.clientID}}',
            clientSecret: '{{site.gitalk.clientSecret}}',
            repo: '{{site.gitalk.repo}}',
            owner: '{{site.gitalk.owner}}',
            admin: ['{{site.gitalk.admin}}'],
            distractionFreeMode: {{site.gitalk.distractionFreeMode}},
            id: window.location.pathname,
            });
            gitalk.render('gitalk-container');
         </script>
         {% endif %}
         <!-- Gitalk end -->

    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
